@page "/ExpensesList"
@using Microsoft.EntityFrameworkCore
@inject MyPHesabdari.Model.MyDbContext context
@inject IJSRuntime JSRuntime
<h1>لیست هزینه ها</h1>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group col-4">
            از تاریخ<input type="date" @bind="from" class="form-control" />
        </div>
        <div class="form-group col-4">
            تا تاریخ <input type="date" @bind="to" class="form-control" />
        </div>
        <div class="form-group col-4">
            <button @onclick="Show" class="btn btn-dark">نمایش</button>
        </div>
    </div>
</div>
@if (message.Count > 0)
{
    <div class="row">
        <div class="col-sm-12">
            @foreach (var item in message)
            {
                <div class="alert alert-info">
                    @item
                </div>
            }
        </div>
    </div>
}


@if (Expenses != null && Expenses.Count > 0)
{

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    تاریخ
                </th>
                <th>
                    مبلغ
                </th>
                <th>
                    دسته
                </th>
                <th>
                    پرداخت از
                </th>
            </tr>
        </thead>
        @foreach (var item in Expenses)
        {
            <tr>
                <td style="background-color:#a7ff9d">@item.ExpenseDate.ToString("yyyy-MM-dd")</td>
                <td>@item.Amount.ToString("#,#.00#") @if (item.CurrencyUnit != null)
                {@item.CurrencyUnit.Name;
            }</td>
                <td>
                    @if (item.Cost != null && item.CostId != null)
                    {
                        @item.Cost.Name
                    }
                </td>
                <td>@item.Payer</td>
            </tr>
            <tr>
                <td>توضیحات</td>
                <td colspan="3">@item.Description</td>
            </tr>
        }
    </table>

}

<hr />


@code {
    List<MyPHesabdari.Model.CurrencyUnit> currencyUnits;
    protected override async Task OnInitializedAsync()
    {
        currencyUnits = await context.CurrencyUnits.ToListAsync().ConfigureAwait(true);
        Expenses = await context.Expenses.OrderByDescending(q => q.ExpenseDate).ToListAsync().ConfigureAwait(true);

        foreach (var item in currencyUnits)
        {
            var sum = Expenses.Where(w => w.CurrencyUnitId == item.Id).Sum(q => q.Amount);
            if (sum > 0)
                message.Add("مجموع مخارج برابر است با " + sum + " " + item.Name);
        }

        from = to = DateTime.Now;
        await base.OnInitializedAsync();
    }
    private List<MyPHesabdari.Model.Expense> Expenses;


    DateTime from, to;
    List<string> message = new List<string>();

    async Task Show()
    {
        message.Clear();
        Expenses = await context.Expenses.AsQueryable().Where(q => q.ExpenseDate.Date >= from && q.ExpenseDate.Date <= to).OrderByDescending(q => q.ExpenseDate).ToListAsync();

        foreach (var item in currencyUnits)
        {
            var sum = Expenses.Where(w => w.CurrencyUnitId == item.Id).Sum(q => q.Amount);
            if (sum > 0)
                message.Add("مجموع مخارج برابر است با " + sum + " " + item.Name);
        }
    }



}
