@page "/"
@inject IStringLocalizer<SharedRes> Loc
<h1>@Loc["AppTitle"]</h1>


@Loc["WelcomeMsg"]


<br />

<a class="btn btn-danger" href="/cost">@Loc["Category"]</a>
<br />
<br />
<a class="btn btn-warning" href="/expense">@Loc["CreateExpenses"]</a>
<br />
<br />
<a class="btn btn-info" href="/expenseslist">@Loc["ExpensesList"]</a>



